.place__title {
    max-width: 460px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    .place__title {
        width: 440px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
        margin-right: 28px;
    }
}

@media screen and (max-width: 750px) {
    .place__title {
        max-width: calc(100% - 32px);
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
        text-align: start;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
    }
}
