.place__image {
    width: 460px;
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 440px;
        margin-right: 32px;
    }

}

@media screen and (max-width: 768px) {
    .place__image {
        width: 340px;
        margin-right: 28px;
    }
}

@media screen and (max-width: 750px) {
    .place__image {
        max-width: 100%;
        margin: 0 auto 32px auto;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
        margin-bottom: 32px;
    }
}