.lead {
    margin: 0 auto;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        width: 320px;
        margin-bottom: 64px;
    }
}


