.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 48px;
    margin-bottom: 56px;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 28px 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 16px 16px 48px 16px;
    }
}

