.lead__title {
    display: flex;
    margin: 0 auto;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 720px;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}
