.place__up {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0 48px 0;
}

@media screen and (max-width: 750px) {
    .place__up {
        margin: 0;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 16px;
        margin-bottom: 32px;
    }
}


@media screen and (max-width: 390px) {
    .place__up {
        max-width: 288px;
    }

}