.place__up {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .place__up {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 16px;
        margin-bottom: 0;
    }

}