.root {
    background: #2A2C2F;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    max-width: 1184px;
    min-width: 186px;


    border-width: 1px;
    border-style: solid;
    border-color: #2f80ed;
}
