.place__end {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .place__end {
        flex-direction: column;
    }

}

@media screen and (max-width: 320px) {
    .place__end {
        margin: 0;
    }

}