.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    width: 560px;
    height: 152px;
    color: #FFFFFF;
    position: relative;
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        height: 70px;
        margin-top: 33px;
        margin-bottom: 0;
    }

}
