.place {
    margin: 0 auto 80px auto;
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 984px;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 888px) {
    .place {
        max-width: 720px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        justify-content: start;
        align-items: start;
        margin-bottom: 50px;
        margin-left: 0;
        gap: 0;
    }
}


@media screen and (max-width: 320px) {
    .place {
        justify-content: start;
        align-items: start;
        margin-bottom: 50px;
        margin-left: 0;
        gap: 0;
    }
}
