.place {
    margin: 0 auto 80px auto;
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-direction: column;
}

.place:last-child {
    margin: 0 auto 92px auto;
}

}
@media screen and (max-width: 1084px) {
    .place {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px) {
    .place {
        max-width: calc(100% - 48px);
        margin-bottom: 73px;
    }
    .place:last-child {
        margin: 0 auto 90px auto;
    }

}

@media screen and (max-width: 888px) {
    .place {
        max-width: 720px;
    }
    }

}

@media screen and (max-width: 750px) {
    .place {
        max-width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-bottom: 50px;
        margin-left: 0;
    }

    .place:last-child {
        margin: 0 auto 66px auto;
    }
}
