.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px 24px 48px;
    padding: 0;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 730px) {
    .footer {
        max-width: 730px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 490px) {
    .footer {
        justify-content: start;
        align-items: start;
        margin: 0 auto 24px 16px;
    }
}
